<div class="ui container">

{% if user.email|length > 0 %}
	<div class="ui segment" style="margin-top:3em;">
		<div class="ui segments">
			<div class="ui segment">
				<h2 class="ui icon center aligned header">
					<img src="https://react.semantic-ui.com/images/icons/school.png" class="ui image"/>
					<div class="content">Welcome to your dashboard, {{user.firstname}}</div>
				</h2>
			</div>
						
			<div class="ui segment">
				<p>Top</p>
			</div>
			<div class="ui horizontal segments" style="max-height: 30em;">
				<div class="ui segment">
					<div class="flexSegmtHead">
						<p>Your questions :</p>
						<button class="ui blue basic button" onclick="location.href='question';">
							<i class="icon user"></i>
							Question
						</button>
					</div>
					<div class="flexSegmtBody">
						<div>{{#caption}} {{.}} {{/caption}}</div>
						<div>Ceci est une question</div>
						<div>Ceci est une question</div>
						<div>Ceci est une question</div>
						<div>Ceci est une question</div>
						<div>Ceci est une question</div>
						<div>Ceci est une question</div>
						<div>Ceci est une question</div>
						<div>Ceci est une question</div>
						<div>Ceci est une question</div>
						<div>Ceci est une question</div>
						<div>Ceci est une question</div>
						<div>Ceci est une question</div>
						<div>Ceci est une question</div>
						<div>Ceci est une question</div>
					</div>
				</div>
				<div class="ui segment">
					<div class="flexSegmtHead">
						<p>Your groups :</p>
						<button class="ui green basic button" onclick="location.href='group';">
							<i class="icon user"></i>
							Group
						</button>
					</div>
					<div class="flexSegmtBody">
						<div>Ceci est un exam</div>
					</div>
				</div>
			</div>
			<div class="ui segment">
				<p>Bottom</p>
			</div>
			<div class="ui horizontal segments" style="max-height: 30em;">
				<div class="ui segment">
					<div class="flexSegmtHead">
						<p>Your QCM :</p>
						<button class="ui red basic button" onclick="location.href='qcm';">
							<i class="icon user"></i>
							QCM
						</button>
					</div>
					<div class="flexSegmtBody">
						<div>Ceci est un exam</div>
						<div>Ceci est un exam</div>
					</div>
				</div>
				<div class="ui segment">
					<div class="flexSegmtHead">
						<p>Your exam :</p>
						<button class="ui brown basic button" onclick="location.href='exam';">
							<i class="icon user"></i>
							Exam
						</button>
					</div>
					<div class="flexSegmtBody">
						<div>Ceci est un exam</div>
						<div>Ceci est un exam</div>
						<div>Ceci est un exam</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	
	{% else %}
	
	<h2> Sorry</h2>
	<p>Not connected user can't access this page, login or register !</p>
	
	{% endif %}
</div>